#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.perigo {
	background-color: red;
}

.class3 {
	width: 300px;
}

.class4 {
	height: 200px;
}
.barra-progress{
	width: 500px;
	height: 30px;
	border: 1px solid black;
}
.progress{
	background-color: red;
	height: 100%;
}